.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.div1 {
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontal centering */
    justify-content: center; /* vertical centering */
  }
  
  #message {
    width: 250px;
    height: 200px;  /* Increased height */
    resize: none;
  }  

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
}

.div6 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
  }
  

div {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
